<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EngineeringTraining</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.admin.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSuccessServlet</display-name>
    <servlet-name>LoginSuccessServlet</servlet-name>
    <servlet-class>com.admin.servlet.LoginSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSuccessServlet</servlet-name>
    <url-pattern>/LoginSuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllLabServlet</display-name>
    <servlet-name>QueryAllLabServlet</servlet-name>
    <servlet-class>com.admin.servlet.QueryAllLabServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllLabServlet</servlet-name>
    <url-pattern>/QueryAllLabServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLabServlet</display-name>
    <servlet-name>AddLabServlet</servlet-name>
    <servlet-class>com.admin.servlet.AddLabServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLabServlet</servlet-name>
    <url-pattern>/AddLabServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLabServlet</display-name>
    <servlet-name>DeleteLabServlet</servlet-name>
    <servlet-class>com.admin.servlet.DeleteLabServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLabServlet</servlet-name>
    <url-pattern>/DeleteLabServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllRecycleLab</display-name>
    <servlet-name>QueryAllRecycleLab</servlet-name>
    <servlet-class>com.recycle.servlet.QueryAllRecycleLab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllRecycleLab</servlet-name>
    <url-pattern>/QueryAllRecycleLab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRecycleLab</display-name>
    <servlet-name>DeleteRecycleLab</servlet-name>
    <servlet-class>com.recycle.servlet.DeleteRecycleLab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecycleLab</servlet-name>
    <url-pattern>/DeleteRecycleLab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllStudentServlet</display-name>
    <servlet-name>QueryAllStudentServlet</servlet-name>
    <servlet-class>com.student.servlet.QueryAllStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllStudentServlet</servlet-name>
    <url-pattern>/QueryAllStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.student.servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.student.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllRecycleStudent</display-name>
    <servlet-name>QueryAllRecycleStudent</servlet-name>
    <servlet-class>com.recycle.servlet.QueryAllRecycleStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllRecycleStudent</servlet-name>
    <url-pattern>/QueryAllRecycleStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRecycleStudent</display-name>
    <servlet-name>DeleteRecycleStudent</servlet-name>
    <servlet-class>com.recycle.servlet.DeleteRecycleStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecycleStudent</servlet-name>
    <url-pattern>/DeleteRecycleStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoverLab</display-name>
    <servlet-name>RecoverLab</servlet-name>
    <servlet-class>com.recycle.servlet.RecoverLab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverLab</servlet-name>
    <url-pattern>/RecoverLab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoverStudent</display-name>
    <servlet-name>RecoverStudent</servlet-name>
    <servlet-class>com.recycle.servlet.RecoverStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverStudent</servlet-name>
    <url-pattern>/RecoverStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLabServlet</display-name>
    <servlet-name>UpdateLabServlet</servlet-name>
    <servlet-class>com.admin.servlet.UpdateLabServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLabServlet</servlet-name>
    <url-pattern>/UpdateLabServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LabInfo</display-name>
    <servlet-name>LabInfo</servlet-name>
    <servlet-class>com.admin.servlet.LabInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabInfo</servlet-name>
    <url-pattern>/LabInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInfo</display-name>
    <servlet-name>StudentInfo</servlet-name>
    <servlet-class>com.student.servlet.StudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfo</servlet-name>
    <url-pattern>/StudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.student.servlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.student.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sort</display-name>
    <servlet-name>Sort</servlet-name>
    <servlet-class>com.student.servlet.Sort</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sort</servlet-name>
    <url-pattern>/Sort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllAdminServlet</display-name>
    <servlet-name>QueryAllAdminServlet</servlet-name>
    <servlet-class>com.admin.servlet.QueryAllAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllAdminServlet</servlet-name>
    <url-pattern>/QueryAllAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminServlet</display-name>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>com.admin.servlet.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/DeleteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>com.admin.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>com.admin.servlet.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllEquipmentServlet</display-name>
    <servlet-name>QueryAllEquipmentServlet</servlet-name>
    <servlet-class>com.equipment.servlet.QueryAllEquipmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllEquipmentServlet</servlet-name>
    <url-pattern>/QueryAllEquipmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEquipmentServlet</display-name>
    <servlet-name>DeleteEquipmentServlet</servlet-name>
    <servlet-class>com.equipment.servlet.DeleteEquipmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEquipmentServlet</servlet-name>
    <url-pattern>/DeleteEquipmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEquipmentServlet</display-name>
    <servlet-name>UpdateEquipmentServlet</servlet-name>
    <servlet-class>com.equipment.servlet.UpdateEquipmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEquipmentServlet</servlet-name>
    <url-pattern>/UpdateEquipmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEquipmentServlet</display-name>
    <servlet-name>AddEquipmentServlet</servlet-name>
    <servlet-class>com.equipment.servlet.AddEquipmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEquipmentServlet</servlet-name>
    <url-pattern>/AddEquipmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllRecycleEquipment</display-name>
    <servlet-name>QueryAllRecycleEquipment</servlet-name>
    <servlet-class>com.recycle.servlet.QueryAllRecycleEquipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllRecycleEquipment</servlet-name>
    <url-pattern>/QueryAllRecycleEquipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRecycleEquipment</display-name>
    <servlet-name>DeleteRecycleEquipment</servlet-name>
    <servlet-class>com.recycle.servlet.DeleteRecycleEquipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecycleEquipment</servlet-name>
    <url-pattern>/DeleteRecycleEquipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoverEquipment</display-name>
    <servlet-name>RecoverEquipment</servlet-name>
    <servlet-class>com.recycle.servlet.RecoverEquipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverEquipment</servlet-name>
    <url-pattern>/RecoverEquipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllStudentByLabIDServlet</display-name>
    <servlet-name>QueryAllStudentByLabIDServlet</servlet-name>
    <servlet-class>com.student.servlet.QueryAllStudentByLabIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllStudentByLabIDServlet</servlet-name>
    <url-pattern>/QueryAllStudentByLabIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet2</display-name>
    <servlet-name>AddStudentServlet2</servlet-name>
    <servlet-class>com.student.servlet.AddStudentServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet2</servlet-name>
    <url-pattern>/AddStudentServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet3</display-name>
    <servlet-name>AddStudentServlet3</servlet-name>
    <servlet-class>com.student.servlet.AddStudentServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet3</servlet-name>
    <url-pattern>/AddStudentServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadPictureServlet</display-name>
    <servlet-name>ReadPictureServlet</servlet-name>
    <servlet-class>com.student.servlet.ReadPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadPictureServlet</servlet-name>
    <url-pattern>/ReadPictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet2</display-name>
    <servlet-name>UpdateStudentServlet2</servlet-name>
    <servlet-class>com.student.servlet.UpdateStudentServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet2</servlet-name>
    <url-pattern>/UpdateStudentServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllStudentByPageServlet</display-name>
    <servlet-name>QueryAllStudentByPageServlet</servlet-name>
    <servlet-class>com.student.servlet.QueryAllStudentByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllStudentByPageServlet</servlet-name>
    <url-pattern>/QueryAllStudentByPageServlet</url-pattern>
  </servlet-mapping>
</web-app>